<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Retention Dashboard</title>
  <link rel="icon" href="static/img/favicon.ico">

  <link type="text/css" rel="stylesheet" href="style.css" />

  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- Load polyfills to support older browsers -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- Load VueX -->
  <script src="https://unpkg.com/vuex"></script>

  <!--  Load Axios-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Load PapaParse CSV parser -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

  <!-- Load Clipboard.js -->
  <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>

  <!-- Load lodash -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

  <script type="text/x-template" id="default-template">
    <b-container fluid>
      <b-row class="rd-app-banner" role="banner">
        <b-col>
          <h1 class="rd-app-title"><span>Retention Analytics Dashboard</span></h1>
        </b-col>
      </b-row>
      <b-row role="main">
        <filedisplay />
      </b-row>
      <b-row>
        <footer class="rd-footer" role="contentinfo">
          <a href="http://www.uw.edu" class="rd-footer-wordmark">University of Washington</a>
          <div class="rd-footer-links">
            <a href="https://www.washington.edu/online/privacy/">Privacy</a> / <a href="https://www.washington.edu/online/terms/">Terms</a> / <a href="mailto:lyle3@uw.edu?subject=Support: Retention Analytics Dashboard">Support</a>
          </div>
          <div>© 2020 University of Washington  |  Seattle, WA</div>
        </footer>
      </b-row>
    </b-container>
  </script>

  <script type="text/x-template" id="leftnav-template">
    <b-nav pills>
      <b-nav-item-dropdown
        id="file-dropdown"
        :text="filename"
        toggle-class="nav-link-custom"
        aria-controls="data_table"
      >
        <b-dropdown-item href="#" @click.prevent="selectPage('international-students.csv')">International students</b-dropdown-item>
        <b-dropdown-item href="#" @click.prevent="selectPage('premajor-students.csv')">Premajor Students</b-dropdown-item>
        <b-dropdown-item href="#" @click.prevent="selectPage('eop-students.csv')">EOP students</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-nav>
  </script>

  <script type="text/x-template" id="dateselect-template">
    <b-form inline>
      <b-form-group
        id="date_select"
        label="Select week"
        label-class="sr-only"
        label-for="week_dropdown"
      >
        <b-form-select
          v-model="currentweek"
          id="week_dropdown"
          class="rd-date-select"
          :options="weeks"
          aria-controls="data_table"
          size="sm"
        >
        </b-form-select>
      </b-form-group>
    </b-form>
  </script>

  <script type="text/x-template" id="filedisplay-template">
    <b-container class="rd-main-container" fluid>
      <b-row class="rd-listactions-container">
        <b-col>
          <p role="alert">Table contains <span class="rd-student-count">{{ selected_count }}</span> students:
            <b-link v-b-modal.email-modal class="rd-action-link">get e-mail addresses</b-link> or
            <b-link id="csv_download" @click="download_filtered" class="rd-action-link">download results</b-link>
          </p>
          <b-modal id="email-modal" title="E-Mail Addresses" ok-only>
            <textarea id="email_area" readonly>{{ email_list_text }}</textarea>
            <button class="copybtn" data-clipboard-target="#email_area">copy</button>
          </b-modal>
        </b-col>
      </b-row>
      <b-row class="rd-filters-container justify-content-center">
          <span class="rd-filter-group">
            <b-form-group
              label="Activity"  
            >
              <b-form-checkbox-group id="activity_filters" v-model="activity_filter" stacked>
                <b-form-checkbox value="high">High</b-form-checkbox>
                <b-form-checkbox value="average">Average</b-form-checkbox>
                <b-form-checkbox value="low">Low</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
            <b-form-group
              label="Assignments"
            >
              <b-form-checkbox-group id="assignment_filters" v-model="assignment_filter" stacked>
                <b-form-checkbox value="high">High</b-form-checkbox>
                <b-form-checkbox value="average">Average</b-form-checkbox>
                <b-form-checkbox value="low">Low</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
            <div class="rd-form-note"><span class="rd-form-key"><strong>Low</strong> -5 to -3</span><span class="rd-form-key"><strong class="rd-label">Average</strong> -2 to +2</span><span><strong>High</strong> +3 to +5</span></div>
          </span>
          <span class="rd-filter-group rd-filter-group-bottom">
            <b-form-group
              class= "rd-grades-filters"
              label="Grades"
            >
              <b-form-checkbox-group id="grade_filters" v-model="grade_filter" stacked>
                <b-form-checkbox value="high">High</b-form-checkbox>
                <b-form-checkbox value="average">Average</b-form-checkbox>
                <b-form-checkbox value="low">Low</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
            <b-form-group
              class= "rd-major-filters"
              label="Major Type"
              label-class="rd-vis-hidden"
            >
              <b-form-checkbox v-model="premajor_filter">Is Pre-Major</b-form-checkbox>
              <!-- <b-form-checkbox v-model="stem_filter">Is STEM</b-form-checkbox> -->
              <b-form-group
              class="rd-keyword-filter"
              label="Keyword"
            >
                <b-form-input v-model="keyword_filter" size="sm" placeholder="Student name, #, NetID"></b-form-input>
              </b-form-group>
            </b-form-group>
          </span>
      </b-row>  
      <b-row class="rd-table-container">
        <b-col cols="5" md="9">
          <span class="rd-file-select"><leftnav /></span>
          <span class="rd-date-select"><dateselect /></span>
        </b-col>
        <b-col cols="7" md="3" class="rd-pagination-container">
          <b-pagination
                  align="right"
                  class="pagination-sm"
                  v-model="currentPage"
                  :total-rows="rows"
                  :per-page="perPage"
                  aria-controls="data_table"
                  first-number
                  last-number
          >
          </b-pagination>
        </b-col>
      </b-row>
      <b-table
              no-border-collapse
              responsive
              show-empty
              sticky-header
              id="data_table"
              :items="items"
              :fields="fields"
              :per-page= "perPage"
              :current-page="currentPage"
              sort-icon-left
      >
        <template v-slot:head(activity)="data">
          {{ data.label }}<a href="#" class="rd-info-link" id="activity_info" role="button" title="What is the Activity score?"><span class="sr-only">What is the Activity Score?</span><b-icon icon="info-circle-fill" variant="primary"></b-icon></a>
          <b-popover target="activity_info" triggers="hover focus">
            <template v-slot:title>Activity Score</template>
            This score is indicative of the level a student is interacting with Canvas relative to her classmates. Any number above or below zero indicates a student has greater or less than average activity, respectively. If a student is taking more than one course in Canvas, her score is an average across the courses she is taking.<br/><br/><strong>No Data</strong> indicates Canvas use is not a course requirement.
          </b-popover>
        </template>

        <template v-slot:head(assignments)="data">
          {{ data.label }}<a href="#" class="rd-info-link" id="assignments_info" role="button" title="What is the Assignments score?"><span class="sr-only">What is the Assignments Score?</span><b-icon icon="info-circle-fill" variant="primary"></b-icon></a>
          <b-popover target="assignments_info" triggers="hover focus">
            <template v-slot:title>Assignments Score</template>
            This score is indicative of how the student is doing relative to her classmates with regards to the status of assignments (e.g. # of missing assignments). Any number above or below zero indicates a student is doing better or worse than average. If the student is taking more than one course in Canvas, her score is an average across the courses she is taking.<br/><br/><strong>No Data</strong> indicates Canvas use is not a course requirement.
          </b-popover>
        </template>

        <template v-slot:head(grades)="data">
          {{ data.label }}<a href="#" class="rd-info-link" id="grades_info" role="button" title="What is the Grades score?"><span class="sr-only">What is the Grades Score?</span><b-icon icon="info-circle-fill" variant="primary"></b-icon></a>
          <b-popover target="grades_info" triggers="hover focus">
            <template v-slot:title>Grades Score</template>
            This score represents the student’s grade in Canvas relative to her classmates. Any number above or below zero indicates a student has a better or worse grade than the course average. If the student is taking more than one course in Canvas, her grades are averaged across the courses she is taking.<br/><br/><strong>No Data</strong> indicates Canvas use is not a course requirement.
          </b-popover>
        </template>

        <template v-slot:cell(grades)="row">
          <span v-if="row.item.grades === -99">No data</span>
          <span v-else>{{row.item.grades}}</span>
        </template>

        <template v-slot:cell(activity)="row">
          <span v-if="row.item.activity === -99">No data</span>
          <span v-else>{{row.item.activity}}</span>
        </template>

        <template v-slot:cell(assignments)="row">
          <span v-if="row.item.assignments === -99">No data</span>
          <span v-else>{{row.item.assignments}}</span>
        </template>

        <template v-slot:cell(premajor)="row">
          <span v-if="row.item.premajor === true"><b-icon icon="check-box" scale="1.5"></b-icon><span class="sr-only">{{row.item.premajor}}</span></span>
          <span v-else class="sr-only">{{row.item.premajor}}</span>
        </template>

      
      </b-table>
      <b-pagination
              align="right"
              class="pagination-sm"
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="data_table"
              first-number
              last-number
      >
      </b-pagination>
    </div>
    </b-container>
  </script>

</head>
<body>
  <div id="app" class="rd-content-container">
    <structure></structure>
  </div>

    <script>
      const store = new Vuex.Store({
        state: {
          current_file: "",
          current_week: "week1"
        },
        mutations: {
          set_file (state, value){
            state.current_file = value;
          },
          set_week (state, value){
            state.current_week = value;
          }
        },
        actions: {
          set_file ({ commit, state }, value) {
            commit('set_file', value)
          },
          set_week ({ commit, state }, value) {
            commit('set_week', value)
          }
        }
      });

      Vue.component("structure", {
        template: "#default-template",
        data(){
          return {
            netid: '',
          };
        },
        mounted() {
          this.netid = window.user_netid;
        },
        methods: {

        }
      });
      
      Vue.component("leftnav", {
        template: "#leftnav-template",
        data(){
          return {

          };
        },
        computed: {
          filename (){
            return this.$store.state.current_file;
          }
        },
        mounted() {

        },
        methods: {
          selectPage(page){
            this.$store.dispatch('set_file', page);
          }
        }
      });

      Vue.component("dateselect", {
        template: "#dateselect-template",
        data(){
          return {
            currentweek: 'week1',
            weeks: [
              { value: 'week1', text: 'Spring 2020: Week 2' },
              { value: 'week2', text: 'Spring 2020: Week 3' }
            ]
          };
        },
        computed: {
          filename (){

          }
        },
        mounted() {

        },
        watch: {
          currentweek: function(){
            this.selectWeek(this.currentweek)
          }
        },
        methods: {
          selectWeek(week){
            this.$store.dispatch('set_week', week);
          }
        }
      });

      Vue.component("filedisplay", {
        template: "#filedisplay-template",
        data: function() {
          return {
            fields: [
              {
                key: 'student_name_lowc',
                label: "Student Name",
                sortable: true
              },
                    {
                key: 'student_no',
                label: "Student Number",
                class: 'text-center'
              },

              {
                key: 'uw_netid',
                label: 'UWNetid',
                class: 'text-center'
              },
              {
                key: 'activity',
                label: 'Activity',
                class: 'text-center',
                sortable: true
              },
              {
                key: 'assignments',
                label: 'Assignments',
                class: 'text-center',
                sortable: true
              },
              {
                key: 'grades',
                label: 'Grades',
                class: 'text-center',
                sortable: true
              },
              {
                key: 'premajor',
                label: 'Pre-Major',
                class: 'text-center',
                sortable: true
              }
            ],
            items: [],
            raw_items: [],
            csv_data: "",
            perPage: 200,
            currentPage: 1,
            selected: {},
            activity_filter: [],
            assignment_filter: [],
            grade_filter: [],
            premajor_filter: false,
            keyword_filter: "",
            low_min: -5,
            low_max: -3,
            average_min: -2.999999999999999,
            average_max: 2.999999999999999,
            high_min: 3,
            high_max: 5
          }
        },
        computed: {
          filename (){
            return this.$store.state.current_file;
          },
          rows (){
            return this.items.length;
          },
          selected_count (){
            return this.items.length;
          },
          email_list_text () {
            var selected = this.get_filtered_emails();
            return selected.join(", ");
          },
          ...Vuex.mapState(['current_week', 'current_file'])
        },
        methods: {
          get_filtered_emails(){
            var emails = [];
            this.items.forEach(function(item){
              emails.push(item['uw_netid'] + "@uw.edu")
            });
            return emails;
          },
          load_file(){
            var vue = this,
                filename = this.current_week + "/" + this.current_file;
            axios.get('data/' + filename)
              .then(function(response){
                vue.csv_data = response.data;
              })
            .catch(function (error) {
              console.log(error)
            })
          },
          download_filtered() {
            var to_download = this.items,
                    hiddenElement = document.createElement('a'),
                    timestamp = Math.round(Date.now()/1000),
                    csv_string = "";

            // Header
            var fields = Object.keys(to_download[0]);
            csv_string += fields.join(",");
            csv_string += "\n";

            // Data
            to_download.forEach(function(item){

              var row_string = "";
              fields.forEach(function(field){
                if(item[field] === -99){
                  row_string += "NA,"
                } else {
                  row_string += item[field] + ","
                }
              });
              //remove trailing comma
              csv_string += row_string.slice(0, -1) + "\n"
            });

            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv_string);
            hiddenElement.target = '_blank';
            hiddenElement.download = 'rentention_export_'+timestamp+'.csv';
            hiddenElement.click();
          },
          run_filters(){
            // Start by resetting items
            this.items = this.raw_items.slice();

            //Activity Filters
            if(this.activity_filter.includes("low") || this.activity_filter.includes("average") || this.activity_filter.includes("high")){
              var activity_items = [];
              if(this.activity_filter.includes("low")){
                activity_items = activity_items.concat(this.filter_by_range('activity', this.low_min, this.low_max));
              }
              if(this.activity_filter.includes("average")){
                activity_items = activity_items.concat(this.filter_by_range('activity', this.average_min, this.average_max));
              }
              if(this.activity_filter.includes("high")){
                activity_items =activity_items.concat(this.filter_by_range('activity', this.high_min, this.high_max));
              }
              this.items = activity_items;
            }

            //Assignment Filters
            if(this.assignment_filter.includes("low") || this.assignment_filter.includes("average") || this.assignment_filter.includes("high")) {
              var assignment_items = [];
              if (this.assignment_filter.includes("low")) {
                assignment_items = assignment_items.concat(this.filter_by_range('assignments', this.low_min, this.low_max));
              }
              if (this.assignment_filter.includes("average")) {
                assignment_items = assignment_items.concat(this.filter_by_range('assignments', this.average_min, this.average_max));
              }
              if (this.assignment_filter.includes("high")) {
                assignment_items = assignment_items.concat(this.filter_by_range('assignments', this.high_min, this.high_max));
              }
              this.items = assignment_items;
            }

            //Grade Filters
            if(this.grade_filter.includes("low") || this.grade_filter.includes("average") || this.grade_filter.includes("high")) {
              var grade_items = [];
              if (this.grade_filter.includes("low")) {
                grade_items = grade_items.concat(this.filter_by_range('grades', this.low_min, this.low_max));
              }
              if (this.grade_filter.includes("average")) {
                grade_items = grade_items.concat(this.filter_by_range('grades', this.average_min, this.average_max));
              }
              if (this.grade_filter.includes("high")) {
                grade_items = grade_items.concat(this.filter_by_range('grades', this.high_min, this.high_max));
              }
              this.items = grade_items;
            }

            //Premajor Filter
            if(this.premajor_filter) {
              var premajor_items = this.filter_by_value("premajor", true);
              this.items = premajor_items;
            }

            //Keyword Filter
            if(this.keyword_filter.length > 0){
              var keyword_items = this.filter_by_text(this.keyword_filter);
              this.items = keyword_items;

            }
          },
          filter_by_range(attr, min_value, max_value){
            var items =  this.items,
                    matches = [];
            items.forEach(function (item, index) {
              if(min_value <= parseFloat(item[attr]) && parseFloat(item[attr]) <= max_value){
                matches.push(item)
              }
            });
            return matches
          },
          filter_by_value(attr, value){
            var items =  this.items,
                    matches = [];
            items.forEach(function (item, index) {
              if(item[attr] == value){
                matches.push(item)
              }
            });
            return matches;
          },
          filter_by_text(text){
            var items =  this.items,
                    matches = [];
            text = text.trim().toLowerCase();
            items.forEach(function (item, index) {
              Object.keys(item).forEach(function(key, idx){
                if(item[key].toString().toLowerCase().includes(text)){
                  matches.push(item)
                }
              });
            });

            return matches;
          },
          get_rounded(num_string){
            var number = Number(num_string);
            return Number(number.toFixed(1));
          }
        },
        mounted: function(){
          this.$store.watch(
                  state => state.current_file,
                  (file) => {
                    this.load_file()
                  }
          );
          this.$store.watch(
                  state => state.current_week,
                  (week) => {
                    this.load_file()
                  }
          );
          this.$store.dispatch('set_file', "international-students.csv");
          new ClipboardJS('.copybtn');
        },
        created: function () {
          this.debouncedRunFilters = _.debounce(this.run_filters, 1000)
        },
        watch: {
          csv_data: function (csv){
            var parsed_csv = Papa.parse(csv, {header: true}),
              csv = parsed_csv.data,
            vue = this;
            csv.forEach(function(item, idx){
              item["premajor"] = (item["premajor"] === "1" ? true: false);
              item["student_no"] = Number(item["student_no"]);

              item['activity'] = vue.get_rounded(item['activity']);
              item['assignments'] = vue.get_rounded(item['assignments']);
              item['grades'] = vue.get_rounded(item['grades']);
            });
            this.items = csv;
            this.raw_items = csv.slice();
            this.run_filters();
          },
          assignment_filter: function () {
            this.run_filters();
          },
          grade_filter: function () {
            this.run_filters();
          },
          activity_filter: function () {
            this.run_filters();
          },
          premajor_filter: function () {
            this.run_filters();
          },
          keyword_filter: function () {
            this.debouncedRunFilters();
          }

        }
      });

      var app = new Vue({
        el: '#app',
        store
      })
    </script>
  </body>
</html>
