/* Structure */
html {
  font-size: 16px;
}

body {
  background-color: #4b2e83 !important;
}

.rd-content-container {
  background-color: white;
  overflow: hidden;
}

.table th {
  padding: 1.5rem !important;
}

.table thead th.text-center {
  background-position-x: 10px !important;
}

.row.rd-listactions-container {
  background-color: #dedede;
  border-bottom: solid 2px #cdcdcd;
  line-height: 2;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.row.rd-listactions-container .col{
  text-align: center;
}

/* override styles */
a {
  color: #0069d9;
}

a.rd-action-link {
  font-weight: bold;
  white-space: nowrap;
}

body p {
  margin-bottom: 0;
}

fieldset.form-group {
  margin-bottom: 0;
}

.rd-vis-hidden {
  visibility: hidden;
}

.custom-control {
  padding-bottom: 0.5rem;
}

div.b-table-sticky-header {
  min-height: 750px;
}

th { 
  white-space: nowrap;
}

/* Top banner styles */
.rd-app-banner {
  align-items: center;
  background-color: #4b2e83;
  background-image: url('static/retention_dashboard/img/uw-logo-white.png');
  background-position: left 18px;
  background-repeat: no-repeat;
  background-size: 60px;
  border-bottom: 3px solid #d1d1d1;
  color: #fff;
  font-size: 0.75rem;
  min-height: 60px;
}

.rd-app-banner a {
  color: #e8e3d3;
}

.rd-app-banner a:focus, .rd-app-banner a:hover {
  color: white;
  text-decoration: underline;
}

.rd-app-title {
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 55px;
  padding-top: 12px;
}

.rd-login-info {
  flex: auto;
  float: right;
  font-weight: 600;
  margin-left: 2rem;
}

.rd-logout-link {
  float: right;
}

.rd-info-link {
  margin-left: 0.25rem;
}

a.rd-help-link:focus svg,a.rd-help-link:hover svg {
  color: lightslategrey !important;
}

/* branding styles */
.rd-page-header {
  font-size: 2rem;
  padding: 1.5rem 0;
}

/* filter styles */

.rd-filters-container {
  padding: 0 15px 1rem;
}

.rd-filters-container fieldset {
  border: 1px #ccc solid;
  border-style: none solid none none;
  float: left;
  margin: 0 2rem 0 0;
  padding: 0 2rem 0 0;
}

.rd-filters-container fieldset.rd-grades-filters {
  border: none;
  margin: 0;
  padding: 0;
}

.rd-filters-container fieldset.rd-major-filters {
  border: 1px #ccc solid;
  border-style: none none none solid;
  float: left;
  margin: 0 0 0 2rem;
  padding: 0 0 0 2rem;
}

.rd-filters-container fieldset.rd-major-filters .rd-keyword-filter {
  border: none;
  margin-right: 0;
  margin-top: 0.5rem;
  padding-right: 0;  
}

.rd-filters-container fieldset legend {
  font-weight: bold;
}

.rd-form-note {
  clear: both;
  font-size: 85%;
  padding-top: 1rem;
}

.rd-form-key {
  padding-right: 1rem;
}

/* Pagination */
.rd-pagination-container {
  align-self: flex-end;
}

/* date select  */
.rd-date-select {
  float: left;
  margin-right: 0.5rem;
}

/* main content styles */
.rd-student-count {
  background-color: #4b2e83;
  border-radius: 4px;
  color: white;
  margin: 0 2px;
  padding: 3px 6px;
}

.rd-file-select {
  float:left;
}

.rd-table-container {
  margin-top: 2rem;
}

/* footer styles */

.rd-footer {
  background-color: #4b2e83;
  border-top: 3px solid #d1d1d1;
  color: #fff;
  font-size: 0.75rem;
  min-height: 100px;
  min-width: 100%;
  padding: 1.5rem 0;
  text-align: center;
}

.rd-footer-wordmark {
  background: url('static/retention_dashboard/img/uw-sprite.svg') no-repeat 0 -434px transparent;
  display: inline-block;
  margin-bottom: 1rem;
  min-height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  width: 335px;
  }

.rd-footer-links {
  font-size: 0.8725rem;
  padding: 0.5rem 0;
}

.rd-footer a {
  color: white;
  text-decoration: underline;
}

.rd-footer a:hover,.rd-footer a:focus {
  color: #e8e3d3;
}

@media only screen and (min-width: 1290px) {

  .table thead th.text-center.table-b-table-default {
    background-position-x: 15% !important;
  }

}


@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

}


@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .hide-lg {
    display: none;
  }

  .table thead th.text-center {
    background-position-x: .5rem !important;
  }

  /* small screen date picker*/
  .rd-date-select {
    margin: 0 0 0.5rem 0.5rem;
  }

}

@media only screen and (max-width: 558px) {
  /* small screen filter styles */

  .rd-filters-container fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
  }

  .rd-filters-container fieldset.rd-grades-filters {
    margin: 0;
    padding: 0;
  }

  .rd-filters-container fieldset.rd-major-filters {
    border-style: none;
    margin: 0;
    padding: 0;
  }

  .rd-filter-group-bottom {
    margin-top: 2rem;
  }

  .rd-form-note {
    padding-top: 1rem;
  }

}