<html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  {% csrf_token %}
  <script>
    $(document).ready(function() {

      var csrf = jQuery("[name=csrfmiddlewaretoken]").val();

      // load weeks and uploads
      $.ajax({
          url: "/api/admin/week/list/",
          method: "GET",
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
        }).done(function (response) {
          response.forEach(week => {
            var row = document.getElementById('week-table').insertRow();
            var cell1 = row.insertCell();
            cell1.innerHTML = "<td>" + week.year + "</td>";
            var cell2 = row.insertCell();
            cell2.innerHTML = "<td>" + week.quarter + "</td>";
            var cell3 = row.insertCell();
            cell3.innerHTML = "<td>" + week.number + "</td>";
          });
        })

        $.ajax({
          url: "/api/admin/upload/list/",
          method: "GET",
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
        }).done(function (response) {
          response.forEach(upload => {
            var row = document.getElementById('upload-table').insertRow();
            var cell1 = row.insertCell();
            cell1.innerHTML = "<td>" + upload.created_on + "</td>";
            var cell2 = row.insertCell();
            cell2.innerHTML = "<td>" + upload.uploaded_by + "</td>";
            var cell3 = row.insertCell();
            cell3.innerHTML = "<td>" + upload.type + "</td>";
            var cell4 = row.insertCell();
            cell4.innerHTML = "<td>" + upload.year + " - " + upload.quarter + " - Week " + upload.week + "</td>";
            var cell5 = row.insertCell();
            cell5.innerHTML = '<button class="delete" value="' + upload.id + '">x</button>';
          });

          $(".delete").click(function (e) {
            e.preventDefault();
            var upload_id = $(e.target).val();
            $.ajax({
              url: "/api/admin/dataset/" + upload_id + "/",
              method: "DELETE",
              contentType: false,
              processData: false,
              dataType: 'json',
              headers: {
                'X-CSRFToken': csrf
              },
              beforeSend: function (xhr) {
                toggleDisabled(true);
              }
            }).done(function (response) {
              toggleDisabled(false);
              alert('Deleted')
              location.reload()
            }).fail(function (response){
              toggleDisabled(false);
            });
          });
        })

      function toggleDisabled(disabled) {
        // load mock data form
        $("#mock_data").prop( "disabled", disabled);
        // week form
        $("#year").prop( "disabled", disabled);
        $("#quarter").prop( "disabled", disabled);
        $("#week").prop( "disabled", disabled);
        $("#add_week").prop( "disabled", disabled);
        // local data form
        $("#id_local_upload_week").prop( "disabled", disabled);
        $('#id_local_upload_file').prop( "disabled", disabled);
        $('#id_submit_local_data_form').prop( "disabled", disabled)
        // gcs upload form
        $("#id_gcs_file").prop( "disabled", disabled)
        $("#id_submit_gcs_data_form").prop( "disabled", disabled)
        // delete buttons
        $('.delete').prop( "disabled", disabled);
      }

      $("#mock_data").click(function (e) {
        e.preventDefault();
 
        $.ajax({
          url: "/api/admin/mock_data/",
          method: "PUT",
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('mock data loaded');
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
          alert('Issue loading mock data');
        });
      });

      $("#gcs_data_form").submit(function (e) {
        e.preventDefault();
        var data = new FormData();
        data.append('gcs_file', $('#id_gcs_file').val());

        $.ajax({
          url: "/api/admin/gcs_data/",
          method: "POST",
          data: data,
          mimeType: 'multipart/form-data',
          contentType: false,
          processData: false,
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {  
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('Data load successful.');
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
          if (response.status === 400){
            alert(response.responseJSON.error);
          } else if (response.status == 500) {
            alert(response.responseJSON.error);
          }
        });
      });

      $("#local_data_form").submit(function (e) {
        e.preventDefault();
        var data = new FormData();
        data.append('local_upload_week',  
                    $("#id_local_upload_week").val());
        data.append('local_upload_file',
                    $('#id_local_upload_file').get(0).files[0]);
        $.ajax({
          url: "/api/admin/dataset/",
          method: "POST",
          data: data,
          mimeType: 'multipart/form-data',
          contentType: false,
          processData: false,
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('Upload successful')
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
          alert(response.responseJSON.error);
        });
      });

      $("#week_form").submit(function (e) {
        e.preventDefault();

        $.ajax({
          url: "/api/admin/week/",
          method: "POST",
          data: {
            'year': $("#year").val(),
            'quarter': $("#quarter").val(),
            'week': $("#week").val()
          },
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          if(!response.created){
            alert("Week already exists");
          } else {
            alert("Week created");
            location.reload();
          }
        }).fail(function (response){
          toggleDisabled(false);
          alert("Error adding new week: " +
                response.responseJSON.error);
        });
      });

    });
  </script>
</head>
<body>
<h1>RAD Data Admin</h1>
<div>
  {% if debug %}
    <h2>Mock Data Admin</h2>
    Click this button to load mock data (available on dev builds only).
    Will take approx. 60 seconds to load 2 weeks of data, alert will be
    generated on success or failure.
    <br/><br/>
    <button id="mock_data">Load Mock Data</button>
  {% endif %}
  <div>
    <h2>Upload Admin</h2>
    <div>
      <h3>GCS file upload</h3>
      <form id="gcs_data_form">
        {{ gcsform.as_p }}
        <input id="id_submit_gcs_data_form" type="submit" value="Add Dataset">
      </form>
    </div>
    <div>
      <h3>Single file upload</h3>
      <p>
        Only one upload is allowed per type and week combination. Add a new
        week in the Week Admin below if it isn't in the dropdown. Depending
        on the file size, it could take several minutes.
      </p>
      <form id="local_data_form">
        {{ localdataform.as_p }}
        <input id="id_submit_local_data_form" type="submit" value="Add Dataset">
      </form>
    </div>
    <div>
      <h3>Existing Uploads</h3>
      <p>Deleting a upload will delete all data associated with it, so this
         has user facing consequences. Should only be needed if a file is
         erroneously uploaded or reloaded do to a data change.</p>
      <table id="upload-table" border="1">
        <tr><th>Date</th><th>User</th><th>Type</th><th>Week</th><th>Delete</th></tr>
        <!-- content gets put here -->
      </table>
    </div>
  </div>
  <div>
    <h2>Week Admin</h2>
    <div>
      <h3>Add New Week</h3>
      <p>
        Adding a new week will make it avalible for a dataset upload, new
        weeks will not appear in the UI until they have data attached.
      </p>
      <form id="week_form">
        Week Number: <input id="week" minlength="1" maxlength="2">
        Quarter:
        <select id="quarter">
          <option value="4">Autumn</option>
          <option value="1">Winter</option>
          <option value="2">Spring</option>
          <option value="3">Summer</option>
        </select>
        Year: <input id="year" maxlength="4" minlength="4" max="2100">
        <input id="add_week" type="submit" value="Add Week">
      </form>
    </div>
    <div>
      <h3>Existing Weeks</h3>
      <table id="week-table" border="1">
        <tr><th>Year</th><th>Quarter</th><th>Week</th></tr>
        <!-- content gets put here -->
      </table>
    </div>
  </div>
</div>
</body>
</html>
