<html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  {% csrf_token %}
  <script>
    $(document).ready(function() {

      function toggleDisabled(disabled) {
        // load mock data form
        $("#mock_data").prop( "disabled", disabled);
        // week form
        $("#year").prop( "disabled", disabled);
        $("#quarter").prop( "disabled", disabled);
        $("#week").prop( "disabled", disabled);
        $("#add_week").prop( "disabled", disabled);
        // upload form
        $('input[name=type]:checked', '#data_form').prop( "disabled", disabled);
        $("#selected_week").prop( "disabled", disabled);
        $('#file').prop( "disabled", disabled);
        $('#add_dataset').prop( "disabled", disabled)
        // bulk upload form
        $('#id_delete_existing_data').prop( "disabled", disabled);
        $('#id_upload').prop( "disabled", disabled);
        $('#id_submit_bulk_upload').prop( "disabled", disabled);
        // delete buttons
        $('.delete').prop( "disabled", disabled);
      }

      $("#week_form").submit(function (e) {
        e.preventDefault();
        var csrf = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/api/admin/week/",
          method: "POST",
          data: {
            'year': $("#year").val(),
            'quarter': $("#quarter").val(),
            'week': $("#week").val()
          },
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          if(!response.created){
            alert("Week already exists");
          } else {
            alert("Week created");
            location.reload();
          }
        }).fail(function (response){
          toggleDisabled(false);
          alert("Error adding new week: " +
                response.responseJSON.error);
        });
      });

      $("#data_form").submit(function (e) {
        e.preventDefault();
        var csrf = jQuery("[name=csrfmiddlewaretoken]").val(),
                data = new FormData();
        data.append('type', $('input[name=type]:checked', '#data_form').val())
        data.append('week', $("#selected_week").val())
        data.append('file', $('#file').get(0).files[0])

        $.ajax({
          url: "/api/admin/dataset/",
          method: "POST",
          data: data,
          mimeType: 'multipart/form-data',
          contentType: false,
          processData: false,
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('Upload successful')
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
          if (response.status === 400){
            alert('Week and type combo already exists')
          } else {
            alert(response.responseJSON.error);
          }
        });
      });

      $(".delete").click(function (e) {
        e.preventDefault();
        var upload_id = $(e.target).val(),
                csrf = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "/api/admin/dataset/" + upload_id + "/",
          method: "DELETE",
          contentType: false,
          processData: false,
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('deleted')
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
        });
      })

      $("#bulk_data_form").submit(function (e) {
        e.preventDefault();
        var csrf = jQuery("[name=csrfmiddlewaretoken]").val(),
                data = new FormData();
        data.append('delete_existing_data',
            $('#id_delete_existing_data').is(":checked"));
        data.append('upload', $('#id_upload').get(0).files[0]);

        $.ajax({
          url: "/api/admin/bulk_dataset/",
          method: "POST",
          data: data,
          mimeType: 'multipart/form-data',
          contentType: false,
          processData: false,
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {  
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('Bulk uloaded successful.');
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
          if (response.status === 400){
            alert(response.responseJSON.error);
          } else if (response.status == 500) {
            alert(response.responseJSON.error);
          }
        });
      });

      $("#mock_data").click(function (e) {
        e.preventDefault();
        var csrf = jQuery("[name=csrfmiddlewaretoken]").val();

        $.ajax({
          url: "/api/admin/mock_data/",
          method: "PUT",
          dataType: 'json',
          headers: {
            'X-CSRFToken': csrf
          },
          beforeSend: function (xhr) {
            toggleDisabled(true);
          }
        }).done(function (response) {
          toggleDisabled(false);
          alert('mock data loaded');
          location.reload()
        }).fail(function (response){
          toggleDisabled(false);
          alert('Issue loading mock data');
        });
      });

    });
  </script>
</head>
<body>
<h1>RAD Data Admin</h1>
<div>
  {% if debug %}
    <h2>Mock Data Admin</h2>
    Click this button to load mock data (available on dev builds only).  Will take approx. 60 seconds to load 2 weeks of data, alert will be generated on success or failure <button id="mock_data">Load Mock Data</button>
  {% endif %}
  <h2>Week Admin</h2>
  <div>
    <h3>Weeks</h3>
    <table border="1">
      <tr><th>Year</th><th>Quarter</th><th>Week</th></tr>
      {% for week in weeks %}
        <tr><td>{{ week.year }}</td><td>{{ week.get_quarter_display }}</td><td>{{ week.number }}</td></tr>
      {% endfor %}
    </table>

  </div>
  <div>
    <h3>Add New Week</h3>
    <p>Adding a new week will make it avalible for a dataset upload, new weeks will not appear in the UI until they have data attached</p>
    <form id="week_form">
      Week Number: <input id="week" minlength="1" maxlength="2">
      Quarter:
      <select id="quarter">
        <option value="4">Autumn</option>
        <option value="1">Winter</option>
        <option value="2">Spring</option>
        <option value="3">Summer</option>
      </select>
      Year: <input id="year" maxlength="4" minlength="4" max="2100">
      <input id="add_week" type="submit" value="Add Week">
    </form>
  </div>
  <div>
    <h2>Data Admin</h2>
    <h3>Single file upload</h3>
    <p>Only one file upload is allowed per type (eg Premajor) and week combination.  Add a new week above if it isn't in the dropdown.</p>
    <form id="data_form">
      <input id="file" type="file">
      <br />
      Premajor: <input type="radio" value="1" name="type">
      <br />
      EOP: <input type="radio" value="2" name="type">
      <br />
      International: <input type="radio" value="3" name="type">
      <br />
      Integrated Social Science (ISS): <input type="radio" value="4" name="type">
      <br />
      <select id="selected_week">
        {% for week in weeks %}
          <option value="{{ week.id }}">{{ week.year }} - {{ week.get_quarter_display }} - Week {{ week.number }}</option>
        {% endfor %}
      </select>
    <input id="add_dataset" type="submit" value="Add Dataset">
    </form>
    <div>
      <h3>Bulk upload</h2>
      <p>Upload a directory of files. The directory structure must follow a standard format. For example:</p>
      <pre>
  +-- data/<br/>
      +-- spr20/<br/>
      |    +-- 1/ or week-01/<br/>
      |    |    |-- premajor-students.csv<br/>
      |    |    |-- eop-students.csv<br/>
      |    |    |-- international-students.csv<br/>
      |    +-- 2/ or week-02/<br/>
      |    |    |-- premajor-students.csv<br/>
      |    |    |-- eop-students.csv<br/>
      |    |    |-- international-students.csv<br/>
      |    +-- 3/, 4/, ... etc<br/>
      +-- su20/, au20/, wtr20/ ... etc<br/>
      </pre>
      <p>Important notes:
        <ul>
          <li>Requires a zip file of the directory structure.</li>
          <li>The "Delete existing data" checkbox option removes all Advisor, Week, Datapoint, and Upload entries before the bulk upload.</li>
          <li>Week, Advisor, DataPoint and Upload objects are automatically created by the bulk upload.</li>
          <li>The quarter, year, and week values are automatically extracted from the directory names.</li>
          <li>Quarter directory names must be "spr" (Spring), "su" (Summer), "au" (Autumn), or "wtr" (Winter), followed by a two digit year.</li>
          <li>Week directory names must be plain numbers or include the "week-" prefix.</li>
          <li>File names must be either "premajor-students.csv", "eop-students.csv", or "international-students.csv".</li>
          <li>Files that fail the unique combined week and file-type database contraint will be skipped.</li>
        </ul>
      </p>
      <form id="bulk_data_form">
        {{ bulkdataform.as_p }}
        <input id="id_submit_bulk_upload" type="submit" value="Add Dataset">
      </form>
    </div>
    <div>
      <h3>Existing Uploads</h3>
      <p>Deleting a upload will delete all data associated with it, so this has user facing consequences.  Should only be needed if a file is erroneously uploaded</p>
      <table>
        <tr><th>Date</th><th>User</th><th>Type</th><th>Week</th><th>Delete</th></tr>
        {% for upload in uploads %}
          <tr>
              <td>{{upload.created_on}}</td>
              <td>{{upload.uploaded_by}}</td>
              <td>{{upload.get_type_display}}</td>
              <td>{{ upload.week.year }} - {{ upload.week.get_quarter_display }} - Week {{ upload.week.number }}</td>
              <td><button class="delete" value="{{ upload.id }}">x</button></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
</body>
</html>
