{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126674428-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-126674428-2');
    </script>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta content="{{ csrf_token }}=" name="csrf-token" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Retention Dashboard</title>
    <link rel="icon" href="{% static '/retention_dashboard/img/favicon.ico' %}">

    <!-- base js libs -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- load bundled vendor files using webpack loader -->
    {% render_bundle 'vendor' %}

</head>

<body class="rad" data-django-debug="{{ django_debug|lower}}">
    <script type="text/javascript">
      window.user_netid = '{{ netid }}';
    </script>
    <div class="rad-content">
        {% block content %}{% endblock %}
    </div>


</body>

</html>
