/** app specific variables **/

//color
$uw-metallic: #e8e3d3;
$uw-purple: #4b2e83;

//text
$white-text: #fff;
$link-blue: #0069d9;
$alert-red: #dc3545;

//borders
$banner-border: #d1d1d1;
$grey-border: #ccc;


//backgrounds
$app-bkgnd: #fff;
$grey-bkgnd: #dedede;

